{% extends 'layout.html' %}

{% block title %}
    Página de Contenido
{% endblock %}

{% block content %}
    <h1>
        Video Misión TIC UIS
    </h1>

    <h2>
        Tomado de YouTube.com
    </h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/r3Mwv36HLJ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
{% endblock %}