{% extends 'layout.html' %}

{% block title %}
    Página de Contáctenos
{% endblock %}

{% block content %}
    <h1>Página de Contacto</h1> 
    <br> 
    <h2>Información de Contacto</h2>
    <br>
    <p>
        Nombre: {{txtNomb}}<br>
        Apellido: {{txtApel}} <br>
        Teléfono: {{txtTel}} <br>
        E-mail: {{txtEmail}} <br>
    </p>

    {% for i in range(1, 7) %}
        <h{{i}}> Título en h {{i}} </h{{i}}>
        {% if i%2 == 0 %}
            <h{{i}}> La variable i = {{i}}, es un número par </h{{i}}>
        {% else %}
            <h{{i}}> La variable i = {{i}}, es un número impar </h{{i}}>
        {% endif %}
    {% endfor %}

{% endblock %}

