{% extends 'layout.html' %}

{% block title %}
    Página de Información
{% endblock %}

{% block content %}
    <h1>
        Página de Información
    </h1> 
    <br> 
    <h2>
        Programando ando...
    </h2>

    <br>
    <p>
        HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el significado y la estructura del contenido web. 
    </p>

    <img class="cImg" src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/slide1image/1632326966/CONFERENCIA-S%C3%81BADO-25-DE-SEPTIMEBRE.jpg" alt="Imagen no disponible">
{% endblock %}
