<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<header>
    <img src="{{url_for('static', filename='img/Logo_UIS_MisionTIC.png')}}" alt="Logo UIS MisionTIC.">
    <h3>
        {% block title %}
            Título de Inicio de Página que cambia...
        {% endblock %}
    </h3>
    <hr>
    <ul>
        <li>
            <a href="/">Página de Inicio</a>
        </li>
        <li>
            <a href="{{url_for('informacion')}}">Página de Información</a>
        </li>
        <li>
            <a href="{{url_for('contactenos')}}">Página de Contáctenos</a>
        </li>
        <li>
            <a href="{{url_for('contenido')}}">Página de Contenido</a>
        </li>
    </ul>
    <hr>
</header>
<body>
    {% block content %}
        Contenido de la Página...
    {% endblock %}
</body>
</html>



{#

{% extends 'layout.html' %}

{% block title %}
    Título de Inicio de Página que cambia...
{% endblock %}

{% block content %}
    Contenido de la Página...
{% endblock %}

#}